/* Blog.css */
.blog-image {
    width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .blog-image {
      width: 100px;
      height: 100px;
    }
  }
  